.Outer{
    width: 100%;
    .Inner{
        width: 80%;
        margin: 80px auto;
        display: flex;
        align-content: space-between;
        .makes{
            width:30%;
            margin:0 3%;
        }
    }
}