.Outer{
    width: 100%;
    .Inner{
        width: 80%;
        margin: 80px auto;
        display: flex;
        align-content: space-between;
        .makes{
            width:30%;
            margin:0 3%;
        }
    }
}
.card{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px 5px 20px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 70vw;
    height: 70vh;
    text-align: center;
    padding-top: 0 !important;
    // overflow-y: auto;
    @media only screen and (max-width:767px) {
        height: 90vh;
      }
    .code{
        background-color: rgb(223, 223, 223);
        padding:0 10px;
        border-radius: 5px;
        // margin-right: 10px;
    }
    .video{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        height:30vh;
    }
    .onPhone{
        .video{
        height:20vh;

        }
    }
    .buttonCopy{
        border:none;
        border-radius: 10px;
        padding:10px;
        font-size: 14px;
        font-weight: 700;

    }
    .Copied{
        color: red;
        font-weight: 600;
    }
    .input{
        padding:10px;
        font-weight: 600;
        width:30%;
    }
    .button{
        border:none;
    }


    .left{
        padding:20px;
    }
    .right{
        padding:20px;
    }
}
.title{
    text-align: center;
    width: 100%;
    padding-top: 0 !important;
}
.textTitle{
    text-align: center;
    background: #2EE59D;
    color: white;
    border-radius: 20px 5px 20px 5px;
    margin:0 !important;
    // width:10%;
}